body {
  margin: 4px;
}

.top-panel {
  display: flex;
  justify-content: space-between;

  .btns-map {
    button {
      &.enabled {
        i {
          color: steelblue;
        }
      }
    }
  }
}

.flats-with-map-container {
  &.map-on-right {
    display: flex;
    flex-direction: row;
    
    height: calc(100vh - 50px);

    .flats-container {
      order: -1;

      height: 100%;
      overflow: auto;
    }

    #map {
      height: 100%
    }
  }
}